.bac-img {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
  background-position: center top;
  font-family: 'poppins', sans-serif;
  background-size: cover;
}

body {
  background-color: rgba(28, 28, 28, 1);
}

.bg-body-tertiary {
  background-color: transparent !important;
}

.fixed-batch {
  background-color: rgba(28, 28, 28, 1);
  z-index: 2;
}

.logo {
  max-width: 7rem;
  max-height: 5.5rem;
}
.logo-nav{
  max-width: 5rem;
  max-height: 4.5rem;
}
.logo-footer{
  max-width: 3rem;
  max-height: 4rem;
}
.color {
  color: #fff;
}

.viewport {
  height: 50vh;
}

.viewport-child,
.viewport-child-2 {
  height: 100%;
}
.bg-onclick,
.bg-onclick:link,
.bg-onclick:visited {
  margin: 0.5rem 1rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  display: inline-block;
  border-radius: 1rem;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
  color: white;
}

.bg-onclick:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.bg-onclick:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0 !important;
}

.bg-onclick:active,
.bg-onclick:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}


.bg-onclick--white {
  background-color: white;
  color: #777;
}

.bg-onclick--white::after {
  background-color: white;
}

.bg-onclick::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.7s !important;
}

.bg-onclick--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards !important;
}

.span {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.5rem;
  color: white;
}
.text-details{
  color: white;
}
.w-full{
  width: 100%;
}
.gap-6{
  gap: 1.5rem;
}
.span-developer{
  font-size: 1.5rem;
  color: white;
}
.span-name {
  font-size: 3.5rem;
  color: white;
}

.p-content {
  color: grey;
  font-size: 1.2rem;
}

.animation {
  position: relative;
  animation-name: span;
  animation-duration: 1.6s;
  animation-iteration-count: 1;
}

@keyframes span {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  90% {
    transform: translateX(5%);
    opacity: 1;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.animation--down {
  position: relative;
  animation-name: down;
  animation-duration: 1.6s;
  animation-iteration-count: 1;
}

@keyframes down {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  90% {
    transform: translateY(-5%);
    opacity: 1;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.circle--rotate {
  position: absolute;
  border-radius: 50%;
  border-top: solid rgb(2, 141, 248) 5px;
  animation: rotateLine 2s linear infinite;
}

@keyframes rotateLine {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.span-hellotext {
  font-size: 2rem;
  color: red;
}

.img {
  max-width: 20rem;
  border-radius: 50%;
  margin: 1rem;
  z-index: 1;
  box-shadow: 1px 2px 1px 2px rgb(234, 239, 240);
  height: 40vh;
}

.img1 {
  max-width: 20rem;
  border-radius: 10%;
  margin: 1rem;
  height: 90%;
}

.img:hover {
  transform: scale(1.2) !important;
}


.technologies-img {
  width: 3rem;
}

.div-boarder {
  border-radius: 10px;
  border: 1px solid #fff;
  color: white;
}

.div-boarder:hover {
  color: black;
  background-color: white;
  transform: scale(1.0);
}

@media screen and (max-width: 684px) {
  .span {
    font-size: 1.2rem;
  }
  .span-name {
    font-size: 2rem;
  }
  .span-1 {
    font-size: 1.2rem;
  }
  .img {
    max-width: 12.5rem;
    height: 30vh;
  }
  .viewport-child-2 {
    max-height: 50%;
  }
  .mobile-image{
    margin-top: 220px;
  }
  .footer .container-fluid {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer .navbar-brand {
    margin-bottom: 10px;
  }
  .footer ul {
    justify-content: center;
  }
  .footer ul li {
    margin: 0 8px;
  }
}
@media (max-width: 768px) {
  .viewport-child,
  .viewport-child-2 {
    height: 100%;
    width: 100%;
  }
}